<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="register-container">
      <h2>Register</h2>
      <mat-form-field hintLabel="Max 15 characters">
        <mat-label>Enter username</mat-label>
        <input
          matInput
          #input
          maxlength="15"
          placeholder="Ex. JohnDoe"
          formControlName="username"
        />
        <mat-hint align="end">{{ username.value?.length || 0 }}/15</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="name@example.com"
          formControlName="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          required
          (blur)="updateErrorMessage()"
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          matIconButton
          matSuffix
          class="view-password"
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          required
          formControlName="confirmPassword"
          [type]="hide() ? 'password' : 'text'"
        />
        @if (form.hasError('passwordMismatch') && (confirmPassword.dirty ||
        confirmPassword.touched)) {
        <mat-error> Passwords should match. </mat-error>
        }
        <button
          matIconButton
          matSuffix
          class="view-password"
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        matButton="elevated"
        type="submit"
        [disabled]="email.invalid && password.invalid && confirmPassword.invalid"
      >
        Register
      </button>

      <div>Have an account? <a routerLink="/login">Login here</a></div>
    </div>
  </form>
</div>
