header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
    background-color: var(--mat-sys-surface);
}

.user-wrap {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.username-display {
    padding: 5px;
}

.user-icon {
    color: var(--mat-sys-on-surface);
    width: 1em;
    height: 1em;
    font-size: 30px;
}